<div class="l-flex">
  <%= link_to '手札を交換する！', signup_path,class: 'button button-primary' %>
  <div class="LR-micro-padding"></div>
  <%= link_to '勝負する！', login_path,class: 'button button-secondary' %>
</div>