<div class="l-center">
  <h1>Login</h1>
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
  <div class="form-group">
    <div class="user-edit-p1">メールアドレス</div>
    <%= f.email_field :email, class: 'form' %>
  </div>

  <div class="form-group">
    <div class="user-edit-p1">パスワード</div>
    <%= f.password_field :password, class: 'form' %>
  </div>

  <div class="TB-middle-padding"></div>
  <div class="l-text-center">
    <%= f.submit 'ログイン！', class: 'button button-secondary' %>
  </div>
  <% end %>
</div>