<div class="l-center">
  <%= render "users/partial/show/user",{user:@user,average: @average,title: "プロフィール"} %>
  <%= render "users/partial/show/cards",{results: @results} %>
</div>
<%= javascript_pack_tag 'user/index' %>