<div class="l-center">
  <h1>シンプルなポーカーゲームです。</h1>
  <p>ユーザー登録をすれば、すぐに始められます！</p>
  <div class="l-flex">
    <a class="button button-primary">登録する！</a>
    <div class="top-button"></div>
    <a class="button button-secondary">登録しない！</a>
  </div>
</div>