<div class="l-center">
  <% if logged_in? %>
  <%= render 'toppages/partial/login/index',{result:@result,player_cards:@player_cards} %>
  <% else %>
  <%= render 'toppages/partial/visiter/index'%>
  <% end %>
</div>