<div class="l-flex">
  <h3>cpu hands</h3>
  <div class="LR-micro-padding"></div>
  <h3 id="game-other-result-text"><%= rank%></h3>
</div>
<div class="l-flex">
  <% cards.each do |card| %>
  <%= image_tag "#{card.type}/#{card.id}.png", {class: "image-size",size: "100x150" }%>
  <% end %>
</div>