<header class="l-header">
  <h1>
    <a href="/"><%= title %></a>
  </h1>
  <nav class="pc-nav">
    <ul>
      <li><a href="#"></a></li>
      <li><a href="#">SERVICE</a></li>
      <li><a href="#">COMPANY</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav>
</header>